@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,900;1,100;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', 'Open Sans';
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    background: #1a214e;
}

.wrapper-logo {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    display: flex;
    float: left;
    margin: 20px 10px 20px 10px;
    
}

.menu {
    float: right;
    font-family: 'Poppins';
}

nav ul {
    list-style-type: none;
    margin: 30px 10px 30px 10px;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: white;
    text-align: center;
    padding: 0px 20px 0px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* STYLING ABOUT */
.wrapper-hero {
    background: #ecedee;
    width: 1100px;
    margin: auto;
    position: relative;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-img {
    width: 50%;
}

#say {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 30px;
    width: 50%;
    margin-left: 100px;
    margin-bottom: 5px;
}

#name {
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 45px;
    color: #1a214e;
    width: 70%;
    margin-bottom: 5px;
    margin-left: 100px;
}

#description{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    margin-left: 100px;
    width: 70%;
}

#hero-profil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px 30px 0px;
}

#ket {
    padding: 0px 100px 30px 100px;
    text-align: justify;
    font-size: large;
    font-family: 'Open Sans';
    font-weight: 500;
}

.edu {
    padding: 0px 130px 30px 100px;
    text-align: justify;
}

.edu-col {
    flex: 33.33%;
    max-width: 25%;
    box-sizing: border-box;
    padding: 15px;
}

.list-edu {
    height: 220px;
    background: #1a214e;
    padding: 10px;
    border-radius: 15px;
}

.edu-judul {
    color: #fff;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
}

.list-edu p {
    color: #fff;
    font-family: 'Open Sans';
    text-align: center;
    font-size: medium;
    font-weight: 400;
}

.organitation {
    padding: 0px 130px 30px 100px;
    text-align: justify;
}

.or-title h2 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    text-align: left;
}

.or-borderr {
    width: 255px;
    height: 3px;
    background: black;
}

.or-border {
    width: 100px;
    height: 3px;
    background: black;
}

.or-konten h4 {
    margin-top: 10px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 700;
}

.or-jdl {
    width: 870px;
    display: flex;
    justify-content: space-between;
}

.or-jdl h4 {
    margin: 0px;
    font-style: italic;
}

.or-konten ul {
    padding: 0px 0px 10px 20px;
    text-align: justify;
}

/* STYLING PROJECT  */
#menu {
    padding: 50px 50px 50px 50px;
    text-align: center;
}

.menu-text {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
}

.title h2 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 25px;
    color: #1a214e;
    width: 100%;
    text-align: left;
    margin: 20px;
    
}

.border{
    width: 160px;
    height: 5px;
    background: #1a214e;
    margin: 20px;
  }
  
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.list-project {
    background: #ecedee;
    height: 380px;
    padding: 30px;
    border-radius: 15px;
}

.list-project img {
    width: 100px;
    height: 85px;
}

.list-project p {
    font-family: 'Open Sans';
    display: contents;
    text-align: justify;
    font-size: medium;
    font-weight: 400;
}

.judul{
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 700;
    margin: 20px;
    color: #1a214e;
  }

.btn {
    font-family: 'Open Sans';
    background: #1a214e;
    color: #fff;
    border-radius: 15px;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    font-weight: 700;
    margin-top: 20px;
}

.btn:hover {
    background: #fff;
    color: #1a214e;
    text-decoration: none;
}


/* STYLING ARTIKEL */

.list-article {
    display: flex;
    background: #ecedee;
}

.img-article {
    padding: 10px 10px;
}

.jdl-article h3 {
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 20px;
    text-align: left;
}


.jdl-article h5 {
    margin-left: 20px;
    text-align: left;
    font-family: 'Opens Sans';
    font-size: 16px;
    font-weight: 400;
    color: #8f8f8f;
}

.border-article {
    width: auto;
    height: 2px;
    background: #000000;
    margin-bottom: 10px;
}

.wrapper-artikel {
    background: #ecedee;
    width: 1000px;
    margin: auto;
    position: relative;
    margin-bottom: 30px;
    border-radius: 10px;
}

.artikel-img {
    width: auto;
    height: auto;
    display: contents;
    padding: 10px 0px 20px 0px;
    text-align: center;
}

.title-artikel {
    display: flex;
    justify-content: space-between;
}

.jdl-artikel h3 {
    text-align: center;
    padding: 30px 0px 10px 0px;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 800;
    color: #1a214e;
}

.title-artikel h5 {
    margin: 5px 15px 5px 15px;
    font-family: 'Opens Sans';
    font-size: 16px;
    font-weight: 400;
    color: #8f8f8f;
}

h5 {
    margin: 0px 0px 0px 100px;
    font-family: 'Opens Sans';
    font-size: 14px;
    font-weight: 200;
}

.konten p {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    padding: 15px 100px 15px 100px;
}

.konten h4 {
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 700;
    text-align: justify;
    padding: 0px 100px 0px 100px;
}

/* STYLING FOOTER */
footer{
    padding: 50px 100px 10px 100px;
    font-family: "Open Sans";
    background: #1a214e;
    text-align: center;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10%;
}

.socials li{
    margin: 0px 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color: rgb(228, 228, 228);
}

footer p {
    margin: 15px 0px 15px 0px;
    color: white;
}

